.project__container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
}

.project__image {
  &:hover {
    cursor: pointer;
  }
}

.project__title {
  color: white;
  animation: showup 7s infinite;
  min-height: 2rem;
}

.project--horizontal-s {
  max-width: 25vw;
  min-width: 25vw;
}

.project--horizontal-m {
  max-width: 35vw;
  min-width: 35vw;
}

.project--horizontal-l {
  max-width: 45vw;
  min-width: 45vw;
}

.project--vertical-s {
  min-width: 20vw;
  max-width: 20vw;
}

.project--vertical-m {
  min-width: 23vw;
  max-width: 23vw;
}

.project--vertical-l {
  min-width: 30vw;
  max-width: 30vw;
}

.project--square-s {
  max-width: 15vw;
  min-width: 15vw;
}

.project--square-m {
  max-width: 20vw;
  min-width: 20vw;
}

.project--square-l {
  max-width: 30vw;
  min-width: 30vw;
}

.project {
  overflow: hidden;
  width: 100%;
  list-style-type: none;
  margin: 1%;
  transition: all 200ms out 0s;
}

.project__list {
  display: inline-flex;
  position: relative;
  width: 100%;
  min-width: fit-content;
}

.project__list--phone {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: fit-content;
}

.project__active--vertical-s {
  min-width: 30vw;
}

.project__active--horizontal-s {
  min-width: 40vw;
}

.project__active--square-s {
  min-width: 35vw;
}

.project__active--vertical-m {
  min-width: 35vw;
}

.project__active--horizontal-m {
  min-width: 50vw;
}

.project__active--square-m {
  min-width: 42vw;
}

.project__active--vertical-l {
  min-width: 35vw;
  max-width: 35vw;
}

.project__active--horizontal-l {
  min-width: 60vw;
  max-width: 60vw;
}

.project__active--square-l {
  min-width: 47vw;
}

@keyframes showup {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.project-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.project-container li {
  position: absolute;
  transition: all 0.5s ease;
}

.project__list--phone {
  width: 100%;
  height: 100%;
}

.project-container .current {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  margin: 0;
}

.random.project {
  width: 30vw;

  img {
    filter: brightness(70%);
  }

  .project__container {
    .project__title {
      display: none;
    }
  }
}

@media only screen and (max-width: 668px) {
  .project-container {
    overflow: hidden;
  }

  .project--horizontal {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10%;
  }

  .project--vertical {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10%;
  }

  .project--square {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10%;
  }

  .current {
    .project__container {
      padding: 1.5rem;
    }
  }

  .project__title {
    span {
      word-break: keep-all;
      word-wrap: break-word;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .project--horizontal-s {
    max-width: 35vw;
    min-width: 35vw;
  }

  .project--horizontal-m {
    max-width: 45vw;
    min-width: 45vw;
  }

  .project--horizontal-l {
    max-width: 55vw;
    min-width: 55vw;
  }

  .project--vertical-s {
    min-width: 30vw;
    max-width: 30vw;
  }

  .project--vertical-m {
    min-width: 33vw;
    max-width: 33vw;
  }

  .project--vertical-l {
    min-width: 40vw;
    max-width: 40vw;
  }

  .project--square-s {
    max-width: 25vw;
    min-width: 25vw;
  }

  .project--square-m {
    max-width: 30vw;
    min-width: 30vw;
  }

  .project--square-l {
    max-width: 40vw;
    min-width: 40vw;
  }

  .project__active--vertical-s {
    min-width: 40vw;
  }

  .project__active--horizontal-s {
    min-width: 50vw;
  }

  .project__active--square-s {
    min-width: 45vw;
  }

  .project__active--vertical-m {
    min-width: 45vw;
  }

  .project__active--horizontal-m {
    min-width: 60vw;
  }

  .project__active--square-m {
    min-width: 52vw;
  }

  .project__active--vertical-l {
    min-width: 45vw;
    max-width: 45vw;
  }

  .project__active--horizontal-l {
    min-width: 70vw;
    max-width: 70vw;
  }

  .project__active--square-l {
    min-width: 57vw;
  }
}
