.container {
  width: max-content;
  padding: 30%;
}

@media only screen and (max-width: 668px) {
  .container {
    width: 100%;
    padding: 10%;
    display: inline;
  }

  .scroll-container {
    padding: 0;
    overflow: hidden !important;
  }
}
