.container {
  width: max-content;
  padding: 30%;
}

.non-scroll-container {
  overflow: scroll !important;
  touch-action: initial !important;
  user-select: initial !important;
  -webkit-user-drag: initial !important;
}

@media only screen and (max-width: 668px) {
  .container {
    width: 100%;
    padding: 10%;
    display: inline;
  }

  .scroll-container {
    padding: 0;
    overflow: hidden !important;
  }
}
