.terminal {
  min-height: 2rem;
  color: whitesmoke;
  background-color: #0000ff;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 2rem;
  width: fit-content;
  padding: 0.4rem 1rem;
  z-index: 100;
}

.terminal__content {
  display: flex;
}

.terminal__link {
  color: white;
  font-weight: normal;
}

.terminal__outdated {
  position: absolute;
  top: -2rem;
  left: 0;
  color: white;
  background-color: transparent;
  display: flex;
  transition: all 1s ease-out 0s;
}

.terminal__item {
  display: flex;
  justify-content: space-between;

  .terminal__item--title {
    flex: 1;
    text-align: left;
    margin-right: 6rem;
  }

  .terminal__item--year {
    flex-shrink: 0;
    text-align: right;
    white-space: nowrap;
  }

  &:hover {
    cursor: pointer;
    font-weight: bold;
  }
}

.terminal__container {
  display: flex;
  min-width: fit-content;
  width: 100%;
  justify-content: center;
  align-items: flex-end;

  .terminal__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      text-decoration: none;
      white-space: nowrap;
    }
  }
}

.terminal__container--intro {
  display: flex;
  height: 100%;
  min-width: fit-content;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  padding: 5%;

  .terminal__list {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    li {
      text-decoration: none;
      white-space: nowrap;
    }
  }
}

.terminal__cursor {
  width: 0.5rem;
  height: 0.9rem;
  background-color: whitesmoke;
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
  animation: blink 1s linear infinite;
}

.terminal__about {
  position: absolute;
  bottom: 8%;
  left: 2rem;
  color: white;
  background-color: transparent;
  display: flex;
  transition: all 1s ease-out 0s;
  display: flex;
  flex-direction: column;
}

.terminal__container {
  display: flex;
}

.terminal__about-contact {
  font-size: 1.5rem;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 12px;
}

.margin-bottom-xs {
  margin-bottom: 12px;
}

.margin-bottom-xl {
  margin-bottom: 24px;
}

.index-toggle {
  white-space: nowrap;

  &:hover {
    font-weight: bold;
    color: white;
  }
}

.bold {
  font-weight: bold;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .terminal {
    min-height: 2rem;
    top: 8%;
    max-width: 100%;
    max-width: 85%;

    height: fit-content;
    font-size: 12px;
    padding: 0.4rem 0.5rem;
    margin: 1.5rem;
  }

  .terminal__wrapper {
    overflow-y: scroll;
    max-height: 16vh;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .terminal__item:not(:last-of-type) {
    margin-bottom: 3px;
  }

  .terminal__cursor {
    width: 0.4rem;
    margin-bottom: 3px;
    margin-left: 2px;
  }

  .terminal--about {
    top: 50px;
    margin: 2rem;

    .terminal__cursor {
      margin-left: 3px;
    }
  }

  .terminal__about {
    bottom: unset;
    left: unset;
    height: 100%;
    width: 100%;
  }

  .terminal__about-phone {
    position: absolute;
    left: 2rem;
    color: white;
    background-color: transparent;
    display: flex;
    transition: all 1s ease-out 0s;
    display: flex;
    font-size: 14px;
  }

  .terminal__about-contact {
    font-size: 1.3rem !important;
  }

  .terminal__about-contacts {
    top: 135px;
    flex-direction: column;
  }

  .terminal__about-panel {
    top: 45px;
    width: 100%;
  }

  .terminal__outdated {
    font-size: 0.8rem;
    z-index: 200;
  }

  .terminal__container {
    min-width: unset;
    width: 100%;
    overflow: hidden;
  }

  .terminal__content {
    flex-wrap: wrap;
  }

  .terminal__container::-webkit-scrollbar {
    display: none;
  }
}