$space-base: 1rem; // 16px

$space-xxs: $space-base * 0.25; // 4px
$space-xs: $space-base * 0.5; // 8px
$space-sm: $space-base * 0.75; // 12px
$space-nm: $space-base * 1; // 16px
$space-md: $space-base * 1.25; // 20px
$space-lg: $space-base * 1.5; // 24px
$space-xl: $space-base * 2; // 32px
$space-xxl: $space-base * 2.5; // 40px
$space-xxxl: $space-base * 3; // 48px
$space-xxxxl: $space-base * 4; // 64px
$space-5xl: $space-base * 4.56; // 73px
