/*
  z indexes
*/
$card-overlay: -1;
$modal-overlay: -2;

$baseline-chart-legend-z: 1;
$select-input-z: 1;
$box-vm-text-z: 1;
$capabilities-selection-inactive-z: 1;
$table-header-label-z: 1;
$value-slider-number-z: 1;
$toggle-tree-button-z: 1;
$select-input-caret-z: 2;
$legend-color-mark-z: 0;
$legend-box-z: 1;
$input-index-z: 1;
$popup-window: 1;
$custom-tooltip-z: 1;

$card-expanded-overlay: 2;
$popup-window-inside-accordion: 2;

$popup: 2;
$tooltip-biggest: 2;
$info-block-z: 3;
$drop-block-z: 4;

$benefit-cost-chart-line-z: 3;
$custom-select-z: 5;
$multiselect-clear-z: 5;
$bubble-z: 5;
$bubble-hover-z: 6;
$slider-tooltip-z: 301;

$recheck-overlay-z: 7;

$chart-column-label-z: 3;
$help-block-z: 7;
$waterfall-line-z: 3;
$footer-block-z: 3;
$footer-block-strategy-room-z: 205;
$dropdown-list-z: 5;
$dropdown-z: 20;

$meso-macro-switcher-outer-z: 5;
$meso-macro-switcher-inner-z: 6;

$modal-chart-legend-z: 150;
$chart-value-line-z: 150;
$header-block-z: 200;
$nav-overlay-z: 201;
$nav-block-z: 202;

$tooltip-z: 300;
$message-z: 300;

$table-header: 301;

$modal-z: 300;
$modal-note-z: 301;
$card-expanded: 5;

$inner-tabs-main-line: 3;
$inner-tabs-active-item-line: 5;

$loader-z: 5000;
