$font-primary: "proxima", sans-serif;

$text-base-size: 1rem;
$heading-line-height: 1.25;
$body-line-height: 1.3125;
$tooltip-line-height: 1.375em;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1379px) {
  html {
    font-size: 0.8rem;
  }
}

$text-xxs: 0.625rem; // 10px
$text-xs: 0.75rem; // 12px
$text-s: 0.813rem; // 13px
$text-sm: 0.875rem; // 14px
$text-nm: $text-base-size;
$text-md: 1.125rem; // 18px
$text-lg: 1.25rem; // 20px
$text-xlg: 1.313rem; // 21px
$text-l: 1.375rem; // 22px
$text-xl: 1.5rem; // 24px
$text-xxl: 1.75rem; // 28px
$text-xxxl: 2rem; // 32px
$text-xxxxl: 2.5rem; // 40px
$text-xxxxxl: 2.625rem; // 42px
$text-6xl: 3rem; // 48px
$text-8xl: 3.75rem; // 60px
$text-12xl: 4.5rem; // 72px
$text-15xl: 5rem; // 80px
