/*
  Boders
*/
$border-r--small: 2px;
$border-r: 3px;
$border-r--bigger: 6px;
$border-r--big: 8px;
$border-r--biggest: 10px;

/*
  Path where images are store
*/
$img-path: "./../img";

/*
  margins and padding are generate up to
  e.g. mb-5 -> mb-50
*/
$gaps-stop: 50;

/*
  Inputs
*/
$input-h: 50px;
$input-h-high: 60px;
$input-h--small: 42px;
$input-border-w: 1px;

$inputs-box-h: 410px;
$input-box-cell-w: 248px;
$input-box-cell-w--small: 100px;

$date-picker-icon-h: 27px;
$date-picker-icon-w: 28px;

$input-cell-w--classic: 104px;

/*
  Buttons
*/

$btn-min-w: 160px;
$btn-border-r: 6px;

$btn-square-h: 48px;

$btn-round-w: 25px;
$btn-round-h: $btn-round-w;

$btn-round-w--big: 40px;
$btn-round-h--big: $btn-round-w--big;

///////////
$btn-min-w--small: 120px;
$btn-min-w--medium: 164px;
$btn-min-w--large: 200px;

// TODO - get rid of all these
$btn-h--smallest: 24px;
$btn-h--small: 32px;
$btn-h--smaller: 42px;
$btn-h--large: 60px;
$btn-h--extra-large: 66px;

$btn-w--small: 24px;

$btn-border-w: $input-border-w;

/*
  Universal box-shadow
*/
$initiatives-tooltip-box-shadow: 0px 4px 12px rgba(38, 50, 56, 0.2);
$block-box-shadow: 0px 0px 4px rgba(83, 91, 124, 0.2);
$nav-box-shadow: 1px 1px 2px rgba(28, 49, 68, 0.2);
$outputs-box-shadow: -1px 1px 2px rgba(28, 49, 68, 0.2);
$main-box-shadow: 0 4px 12px rgba(38, 50, 56, 0.2);
$card-box-shadow: 1px 1px 12px 0 rgba(36, 157, 205, 0.25);

/*
  Navigation items, icons, nested navigation
  triangle indicator
*/
$nav-item-h: 70px;
$nav-item-h--mobile: 52px;
$nav-indicator-w: 6px;
$nav-indicator-h--inline: 6px;
$nav-icon-w: 24px;
$subnav-icon-w: 14px;

$nav-animation-time: 0.24s;
$nav-close-delay: 0.28s;

$tab-btn-h: 65px;
$tab-btn-w: 120px;
$tab-btn-h--active: 72px;

/*
  Logo
*/
$logo-h: 28px;
$logo-h--mobile: 28px;

/*
  Dots
*/
$dot-w: 4px;
$dot-h: 4px;
$dot-gap: 4px;
$dots-h: (3 * $dot-h) + (2 * $dot-gap);

/*
  Switch
*/
$switch-h: 20px;
$switch-w: 32px;
$switch-toggle-w: $switch-h - 4px;
$switch-toggle-h: $switch-h - 4px;

/*
  Checkbox
*/
$checkbox-w: 25px;
$checkbox-h: $checkbox-w;
$checkbox-w--small: 19px;
$checkbox-h--small: $checkbox-w--small;

$checkbox-icon-w: 14px;
$checkbox-icon-h: $checkbox-icon-w;
$checkbox-icon-w--small: 11px;
$checkbox-icon-h--small: $checkbox-icon-w--small;

/*
  Dropdown
*/
$dropdown-max-w: 260px;
$dropdown-min-w: 200px;
$dropdown-caret-shadow: rgba(0, 0, 0, 0.03);
$dropdown-caret-position-x: $space-sm;
$dropdown-caret-position-y: $space-sm;
$dropdown-caret-w: 18px;
$dropdown-caret-h: 10px;
$dropdown-icon-w: 20px;
$dropdown-icon-c: #7d8097;

/*
  File input
*/
$file-btn-w: 120px;

/*
  Pagination
*/
$pagination-page-w: 28px;
$pagination-page-h: 26px;
$paginatiion-select-h: 30px;

/*
  Pills
*/
$pill-min-w: 40px;
$pill-min-w--big: 88px;
$pill-h--big: 42px;
$pill-h--smallest: 20px;

/*
  Radio button
*/
$radio-w: 22px;
$radio-h: $radio-w;
$radio-icon-w: 10px;
$radio-icon-h: 10px;

/*
  Tabs
*/
$tabs-button-gap: 6px;
$tabs-button-border-r: $border-r--bigger;
$tabs-button-bg: $primary-c;
$tabs-button-bg--active: $block-bg-c;

/*
  numbers
*/
$number-h: 24px;
$number-w: 24px;
$number-lh: 22px;

/*
  Animations
*/
$base-animation-time: 0.24s;

/*
  Add photo / logo
*/
$add-photo-w: 50px;
$add-photo-h: $add-photo-w;
$add-photo-w--big: 95px;
$add-photo-h--big: $add-photo-w--big;

/*
  Symbol
*/
$symbol-w: 24px;
$symbol-h: $symbol-w;

/*
  Hero
*/

$lp-hero-h: 589px;
$lp-contact-h: 368px;

/*
  Roic Tree
*/

$roic-tree-side-margin: 48px;
$roic-tree-vertical-margin: 8px;
$roic-tree-min-leaf-h: 50px;
$roic-tree-max-leaf-h: 174px;
$roic-tree-top-margin: 40px;
$roic-tree-leaf-w: 192px;
$roic-tree-horizontal-line-w: 26px;

/*
  Table Row Label
*/
$trl-radius: 50px;

/*
  Bubble
*/
$bubble-w: 13px;
$bubble-h: $bubble-w;

/*
  Offering labels
*/
$offering-label-w: 140px;
$offering-label-h: 26px;

/*
  Offerings Matrix
*/
$offerings-matrix-top-space: 38px;
$offerings-matrix-top-space-smaller: 37px;
$offerings-matrix-color-plate-height: 6px;
$offerings-matrix-border-radius: 5px;
$offerings-matrix-row-height: 85px;
$offerings-matrix-cell-width: 130px;
$offerings-matrix-left-side-width: 260px;
$offerings-matrix-box-min-width: 261px;
$offerings-matrix-box-min-height: 170px;

/*
  Offerings Matrix V2
*/
$offerings-matrix-header-width: 48px;
$offerings-matrix-left-part-width: 248px;
$offerings-matrix-right-part-width: 100px;
$offerings-matrix-border-radius-v2: 10px;
$offerings-matrix-column-width: 100px;
$offerings-matrix-collapsed-column-width: 200px;
$offerings-matrix-assess-by-market-segment-button-column-width: 200px;
$offerings-matrix-row-height-v2: 80px;
$offerings-matrix-collapsed-row-height: 160px;

/*
  Table Chart Outputs
*/
$table-chart-outputs-first-col-w: 238px;
$table-chart-outputs-second-col-w: 220px;
$table-chart-outputs-third-col-w: 392px;

/*
  Table Chart Details
*/
$table-chart-details-first-col-w: 194px;
$table-chart-details-second-col-w: 380px;
$table-chart-details-third-col-w: 200px;

/*
  Roic Tree Table Outputs
*/
$roic-tree-table-outputs-first-col-w: 272px;
$roic-tree-table-outputs-second-col-w: 190px;

$validation-leaf-h: 179px;
$strategic-scenario-leaf-h: 163px;

/*
  Initiative Planning Tree Block
*/
$planning-tree-block-leaf-children-h: 174px;

$preset-h: 195px;
