//-------------------------------//
//             COLORS            //
//-------------------------------//
$dark-c: #041037;
$light-c: #ffffff;
$lightest-c: #f4f5f6;

$primary-c: #535b7c;
$primary-c--dark: #1c3144;

$secondary-c: #249dcd;
$secondary-c--hover: #197fa7;

$tertiary-c--light: #f9e3cb;
$tertiary-c--dark: #aa9c1a;
$tertiary-c: #ff8a00;

$cta-c: $secondary-c;

$neutral-c--lightest: #f7f9fe;
$neutral-c--lighter: #e9eef83d;
$neutral-c--light: #e9eef8;
$neutral-c: #d9e2f3;
$neutral-c--dark: #f2f5f9;
$neutral-c--darker: #81879b;
$neutral-c--darkest: #7d859a;

$input-outline-c: $primary-c--dark;

$outline-c: $neutral-c;

$block-bg-c: $neutral-c--lightest;
$body-bg-c: $neutral-c--light;

$link-c: $secondary-c;
$link-c--hover: $secondary-c;

$negative-c--dark: #a31621; // used in .c-btn-circle--negative
$activity-box-bg-c--gray: #f6f7f8; // used in .c-activity-box--gray
$matrix-green-column--light: #b5dfcb;
$matrix-green-column: #00d46e; // used in matrix table
$label-gray: #dadada;
$disabled-row-c: #f4f8ff;
$disabled-checkbox: #c4c4c4;
$range-slider-c: #cde7f4;

$tooltip-background: $primary-c;
$tooltip-background--light: #6a7292;

$inner-tabs-line-c: #b7bede;
$switch-button-inactive-c: #b7bede;

$outputs-navigation-icon-color: #b4bcc0;

//-------------------------------//
//      OLD-DESIGN-COLORS        //
//     WHICH ARE STILL USED      //
//-------------------------------//
$primary-c--light: #68affd;
$primary-c--lightest: #b0cafe;

$positive-c--darker: #278825;
$positive-c: #219653;
$positive-c--light: #9dd79b;
$positive-c--lightest: #f4faf6;
$highlight-c--light: #f2fdf7;
$highlight-c--green: #28c26a;
$highlight-c--blue: #d7edf5;
$highlight-c--darker-blue: #249dcd;

$warning-c: #ef6c00;
$warning-c-text: #ff7101;
$warning-c--lightest: #fef8f2;

$negative-c--darker: #cd2c2c;
$negative-c: #db4343;
$negative-c--background: #fdf5f5;
$negative-c--hover: #8b111a;
$negative-c--light: #f1e6ec;
$negative-c--lightest: #fef5f5;
$highlight-c--red: #f10074;

//-------------------------------//
//          TEXT-COLORS          //
//-------------------------------//
$text-c--dark: $dark-c;
$text-c: $primary-c--dark;
$text-c--lighter: $neutral-c--darkest;
$text-c--light: $neutral-c--darker;
$text-c--lightest: $neutral-c--lightest;

//-------------------------------//
//      OFFERING COLORS        //
//-------------------------------//
$offering-light-grey: #bcd4de;
$offering-purple: #767acd;
$offering-pink: $highlight-c--red;

$offering-red: $negative-c;
$offering-orange: $tertiary-c;

$offering-yellow: #f7c600;

$offering-light-green: $highlight-c--green;

$offering-green: #0c7353;
$offering-turquoise: #276b80;

$offering-dark-blue: $primary-c--dark;

$offering-light-blue: #8fd6ec;

//-------------------------------//
//      SLIDER BAR COLORS        //
//-------------------------------//
$slider-gray: $offering-light-grey;
$slider-purple: $offering-purple;
$slider-pink: $offering-pink;
$slider-red: $offering-red;
$slider-orange: $tertiary-c;
$slider-yellow: $offering-yellow;
$slider-light-green: $offering-light-green;
$slider-green: $offering-green;
$slider-turquoise: $offering-turquoise;
$slider-black: $offering-dark-blue;
$slider-blue: $offering-light-blue;

$slider-light-blue: #d7edf5;
$slider-light-orange: #ffe9cf;
$slider-light-black: #cfcfcf;
$slider-light-purple: #b6bede;
$slider-light-red: #fbc4c4;

//-------------------------------//
//      DASHBOARD COLORS        //
//-------------------------------//
$first-module: $offering-light-blue;
$second-module: $secondary-c;
$third-module: $offering-turquoise;
$fourth-module: $primary-c--dark;
$hexagon-grey: $primary-c;
$hexagon-blue: $secondary-c;
$hexagon-orange: $tertiary-c;
$hexagon-not-active: #f2f5fb;
$badge-color: #d7edf5;
$badge-orange: #ffe9cf;
$badge-grey: #cfd4e9;
$spinner-color: #41b883;

//-------------------------------//
//      CHART RISKS COLORS        //
//-------------------------------//
$chart-c--positive: #c9f0da;
$chart-c--neutral: #ffe2bf;
$chart-c--negative: #f6d0d0;

//-------------------------------------//
//  CHART LANDSCAPE ASSESSMENT COLORS  //
//-------------------------------------//
$chart-c--landscape-positive: #e7f8ed;
$chart-c--landscape-neutral: #fdf2e1;
$chart-c--landscape-negative: #f7e9e9;

$transparent-blue-c: #bde2f0;
$transparent-orange-c: #ffdcb3;
$transparent-yellow-c: #f5f4d3;
